*~
.*swp
*.la
*.lo
*.log
*.o
*.tar.gz
*.trs
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
/test-suite.log
Makefile
Makefile.in
TAGS
protobuf-c/libprotobuf-c.pc
protobuf-c-rpc/libprotobuf-c-rpc.pc
protoc-c/protoc-c
t/generated-code/test-generated-code
t/generated-code2/cxx-generate-packed-data
t/generated-code2/test-full-cxx-output.inc
t/generated-code2/test-generated-code2
protobuf-c-rpc/t/test-rpc
*.pb-c.c
*.pb-c.h
*.pb.cc
*.pb.h
